<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>OAuth2 示例，登录</title>
</head>
<body>
	<h1>请你登录</h1>
	<div th:if="${param.error}">用户名或密码错</div>
	<div th:if="${param.logout}">您已注销成功</div>
	<form th:action="@{/login}" method="post">
		<div>
			<label> 用户名 : <input type="text" name="username" />
			</label>
		</div>
		<div>
			<label> 密码 : <input type="password" name="password" />
			</label>
		</div>
		<div>
			<input type="submit" value="登录" />
		</div>
	</form>
</body>
</html>